# ansible vars
env.yml
# ansible hosts
hosts
# script to setup raspberry display
raspi.sh
# tor config
torrc
# ansible cache
.fact_cache
# previous server logs
backup/
# openwrt debug logs
router/
k3s/
