module(load="imuxsock") # provides support for local system logging
module(load="imklog" permitnonkernelfacility="on")
module(load="imfile")
module(load="ompgsql")

###########################
#### GLOBAL DIRECTIVES ####
###########################
# Use traditional timestamp format.
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# Filter duplicated messages
$RepeatedMsgReduction on

$FileOwner syslog
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
$PrivDropToUser syslog
$PrivDropToGroup syslog
# Where to place spool and state files
$WorkDirectory /var/spool/rsyslog

auth,authpriv.* /var/log/auth.log

input(
type="imfile"
File="/var/log/caddy/access.log"
Tag="caddy:"
)

template(name="caddy-temp" type="list" option.sql="on") {
    constant(value="INSERT INTO dockerlogs (message, timereported) values ('")
    property(name="msg")
    constant(value="','")
    property(name="timereported" dateformat="pgsql" date.inUTC="on")
    constant(value="')")
}

if( $syslogtag == 'caddy:') then {
    action(
    type="ompgsql"
    server="127.0.0.1"
    user="{{ env.USER }}"
    pass="{{ env.PASSWORD }}"
    db="logs"
    template="caddy-temp"
    queue.type="linkedList"
    queue.size="100000"
    queue.saveonshutdown="on"
    queue.workerthreads="4"
    )
}