- Bruh:
    - Adguard:
        icon: adguard-home.png
        href: "http://{{ ansible_default_ipv4.address }}:81"
        container: adguard
        widget:
          type: adguard
          url: "http://{{ ansible_default_ipv4.address }}:81"
          username: {{ env.USER }}
          password: {{ env.PASSWORD }}

    - Grafana:
        icon: grafana.png
        href: "http://{{ ansible_default_ipv4.address }}:3000"
        container: grafana
        widget:
          type: grafana
          url: "http://{{ ansible_default_ipv4.address }}:3000"
          username: {{ env.USER }}
          password: {{ env.PASSWORD }}

    - Home Assistant:
        icon: home-assistant.png
        href: "http://{{ ansible_default_ipv4.address }}:8123"
        container: homeassistant
    - Dagster:
        icon: upsnap.png
        href: "http://{{ ansible_default_ipv4.address }}:3001"
        container: dagit

    - Motioneye:
        icon: motioneye.png
        href: "http://{{ ansible_default_ipv4.address }}:8765"
        container: motioneye

- Bruh2:
    - Tailscale:
        icon: tailscale.png
        href: https://tailscale.com
        widget:
          type: tailscale
          deviceid: nmZg8j1CNTRL
          key: {{ env.TS_API }}
    - Prometheus:
        icon: prometheus.png
        container: prometheus
        widget:
          type: prometheus
          url: "http://{{ ansible_default_ipv4.address }}:9090"
