apiVersion: 1

datasources:
  - name: "Prometheus"
    access: "proxy"
    type: "prometheus"
    editable: true
    is_default: true
    org_id: 1
    uid: 1
    url: "http://{{ansible_default_ipv4.address}}:9090"
    version: 1

  - name: postgres_logs
    type: postgres
    org_id: 1
    uid: 2
    url: "{{ansible_default_ipv4.address}}:5432"
    user: {{ env.USER }}
    secureJsonData:
      password: {{ env.PASSWORD }}
    jsonData:
      database: logs
      sslmode: "disable" # disable/require/verify-ca/verify-full
      maxOpenConns: 100 # Grafana v5.4+
      maxIdleConns: 100 # Grafana v5.4+
      maxIdleConnsAuto: true # Grafana v9.5.1+
      connMaxLifetime: 14400 # Grafana v5.4+
      postgresVersion: 15
      timescaledb: false

  - name: postgres_apple
    type: postgres
    org_id: 1
    uid: 3
    url: "{{ansible_default_ipv4.address}}:5432"
    user: {{ env.USER }}
    secureJsonData:
      password: {{ env.PASSWORD }}
    jsonData:
      database: apple_db
      sslmode: "disable" # disable/require/verify-ca/verify-full
      maxOpenConns: 100 # Grafana v5.4+
      maxIdleConns: 100 # Grafana v5.4+
      maxIdleConnsAuto: true # Grafana v9.5.1+
      connMaxLifetime: 14400 # Grafana v5.4+
      postgresVersion: 15
      timescaledb: false
