{
	email zamudio.e13@gmail.com	
	servers {
		metrics
	}
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

(block) {
	@external not remote_ip private_ranges
	redir @external https://{{env.DOMAIN}} permanent
}

# ex. import subdomain adguard adguard:3000 -> adguard.domain.com
(subdomain) {
	@{args[0]} host {args[0]}.{{env.DOMAIN}}
	handle @{args[0]} {
		import block
		reverse_proxy {args[1]}
	}
}

*.notedwin.com {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		X-Frame-Options "DENY"
		Referrer-Policy no-refferer-when-downgrade
		-Server
		header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
	}
	encode zstd gzip

	tls {
		dns cloudflare {{env.CF_API}}
		resolvers 1.1.1.1
	}

	@map host map.notedwin.com
	handle @map {
		respond "hi, project has been deprecated" 200
	}

	@chi host chicago.notedwin.com eatchi.notedwin.com
	handle @chi {
		root * /chi
		file_server
	}

	@how host how.notedwin.com
	handle @how {
		root * /map
		file_server
	}

	@resume host resume.notedwin.com
	handle @resume {
		# allow htt
		# send a file and only allow GET REQUESTS
		root * /files
		rewrite * resume.pdf
		file_server
	}

	@dev host dev.notedwin.com
	handle @dev {
		root * /files
		rewrite * 404.html
		file_server
	}

	# local urls: when using container also use the original port not the port openned to local net
	import subdomain adguard adguard:3000
	import subdomain port portainer:9000
	import subdomain memos memos:5230
	import subdomain glance glance:8080
	import subdomain immich {{ansible_default_ipv4.address }}:2283
	import subdomain infisical infisical-backend:8080
	import subdomain home homebridge:8581
	import subdomain beszel {{ansible_default_ipv4.address }}:8090
	import subdomain ntfy ntfy:2586

	@unifi host unifi.notedwin.com
	handle @unifi {
		import block
		reverse_proxy /inform {{ansible_default_ipv4.address }}:1000
		reverse_proxy https://{{ansible_default_ipv4.address }}:8443 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
		}
	}

	@health host health-checks.notedwin.com
	handle @health {
		import block
		reverse_proxy https://{{ansible_default_ipv4.address }}:8123 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
		}
	}

	handle {
		redir https://{{env.DOMAIN}} permanent
	}

	log {
		output file /var/log/caddy/access-json.log {
			roll_size 100mb
			roll_keep 3
			roll_keep_for 96h
		}
		format json {
			message_key msg
			caller_key caller
			time_format iso8601
		}
	}
}